{% extends 'layout_connected.html.twig' %}

{% block title %}Tableau de bord{% endblock%}

{% block underNavTitle %}Liste des Entreprises{% endblock %}
{% block underNavText %}Retrouver ici toute la liste des Entreprises{% endblock %}

{% block body %}

    <div class="container">
        <div class="row">

            {% for i in 1..6 %}
                <div class="col s12 m6">
                    <div class="card">
                        <div class="card blue accent-2 white-text">
                            <div class="card-content">
                                <h5 class="valign center-align center">
                                    <i class="material-icons medium">business</i>
                                    <br/>
                                    Company {{ i }}
                                </h5>
                            </div>
                        </div>
                        <div class="card-content"></div>
                    </div>
                </div>
            {% endfor %}

        </div>
    </div>

{% endblock %}
