/*nav ul li {
  color: $cyan-lighten-2;
  .active {
    background-color: $accent-color;
    a {
      color: #fff;
    }
  }
}*/

nav ul a {
  color: $cyan-lighten-2;
}
nav a {
  color: #fff;
}
nav ul li + .active {
  background-color: $accent-color;
  a {
    color: #fff;
  }
}
.fixed-action-btn {
  position: inherit;
  right: 5px;
  top: 0px;
  padding-top: 15px;
  margin-bottom: 0px;
  z-index: 998;
}
.btn-floating i {
  font-size: 1.2rem;
}
.collection-item.avatar .title {
  font-size: 18px;
  font-weight: 500;
}
.collection {
  margin: 2rem 0 1rem 0;
}