/* UNDER NAV MENU */

.vcenter {
  min-height: 100%;
  min-height: 100vh;

  display: flex;
  align-items: center;
}

nav a {
  color: $text-icons;
}
nav ul li + .active {
  background-color: $accent-color;
  a {
    color: $text-icons;
  }
}
.fixed-action-btn {
  position: inherit;
  right: 5px;
  top: 0;
  padding-top: 15px;
  margin-bottom: 0;
  z-index: 998;
}
.btn-floating i {
  font-size: 1.2rem;
}
.collection-item.avatar .title {
  font-size: 18px;
  font-weight: 500;
}
.collection {
  margin: 2rem 0 1rem 0;
}

/* Side nav menu */
.menu-gauche {
  .application-header {
    margin-bottom: 0;
    padding: 0;

    .application-logo {
      margin: 15px 5px 15px 15px;
    }
    .application-name {
      text-transform: uppercase;
      font-size: 30px;
    }

    .user-pannel {
      background: url("/assets/images/backgound_user.png");
      height: 120px;

      a {
        all: inherit;
      }
      .user-infos-block {
        padding-top: 20px;
      }
      .user-profile-img {
        margin-left: 10px;
        max-height: 50px;
      }
      .user-infos {
        margin-left: 10px;
        line-height: 20px;
        font-size: 15px;
      }
    }
  }
  #slide-out {
    li a {
      color: white;
    }
    li.active {
      background-color: inherit;

      a {
        color: $accent-color;
      }
    }
    li:hover {
      background-color: inherit;
    }
  }
}
/* End Side nav menu */
