# Ignore Symfony 2 Caches
/app/cache/*
!app/cache/.gitkeep

# Ignore Symfony 2 Logs
/app/logs/*
!app/logs/.gitkeep

# Ignore Symfony 2 Local Config
/app/phpunit.xml
/app/config/parameters.yml
/app/bootstrap.php.cache

# Ignore Vendors & Executables
/bin/
/vendor/
/web/bundles/

# Ignore local composer packages
/composer.phar

# Ignore IDE configs
/.idea

# Ignore Compass
/app/Resources/sass/*.css
/app/Resources/sass/compiled
/app/Resources/sass/.sass-cache

# Ignore Bower vendor
/bower_components/

# Ignore NodeJs vendor
/node_modules/
/npm-debug.log

# Keep all .gitkeep files
!.gitkeep
