<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %} | Gyver Project</title>
        {% block stylesheets %}
            {{ include('::stylesheets.html.twig') }}
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}
            {{  include('::javascripts.html.twig') }}
        {% endblock %}
    </body>
</html>
