{% for flashMessage in app.session.flashbag.get('success') %}
     <div class="row">
         <div class="offset-s2 col s8">
            <div class="flashMessage green accent-4">
                <p>{{ flashMessage }}</p>
            </div>
         </div>
     </div>
{% endfor %}

{% for flashMessage in app.session.flashbag.get('notice') %}
    <div class="row">
        <div class="offset-s2 col s8">
            <div class="flashMessage amber accent-4">
                <p>{{ flashMessage }}</p>
            </div>
        </div>
    </div>
{% endfor %}

{% for flashMessage in app.session.flashbag.get('error') %}
    <div class="row">
        <div class="offset-s2 col s8">
            <div class="flashMessage red">
                <p>{{ flashMessage }}</p>
            </div>
        </div>
    </div>
{% endfor %}
