{% for flashMessage in app.session.flashbag.get('success') %}
     <div class="row">
         <div class="col s12">
            <div class="alert-box success radius flashMessage">
                <p>{{ flashMessage }}</p>
            </div>
         </div>
     </div>
{% endfor %}

{% for flashMessage in app.session.flashbag.get('notice') %}
    <div class="row">
        <div class="col s12">
            <div class="alert-box warning radius flashMessage">
                <p>{{ flashMessage }}</p>
            </div>
        </div>
    </div>
{% endfor %}

{% for flashMessage in app.session.flashbag.get('error') %}
    <div class="row">
        <div class="col s12">
            <div class="alert-box alert radius flashMessage">
                <p>{{ flashMessage }}</p>
            </div>
        </div>
    </div>
{% endfor %}
