<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Welcome!{% endblock %} | Gyver Project</title>
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

    {# Stylesheets Block #}
    {% block stylesheets %}
        {{ include('::stylesheets.html.twig') }}
    {% endblock %}
</head>

<body>

{# Body Block #}
{% block body %}{% endblock %}
{# End Body #}

</body>
</html>
