<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}{% endblock %} | Admin {{ application_name|capitalize }} Project</title>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

        {# Stylesheets Block #}
        {% block stylesheets %}
            {% include '::stylesheets.html.twig' %}
        {% endblock %}
    </head>

    <body>

        {% block header %}
            {% include '::header_admin.html.twig' %}
        {% endblock %}

        <div class="row">
            <div class="under-nav col s12 grey darken-1">
                <h4 class="white-text">{% block underNavTitle %}Titre{% endblock %}</h4>
                <p class="white-text text-accent-1">{% block underNavText %}Description{% endblock %}</p>
            </div>
        </div>

        {% block flashMessage %}
            {% include '::flashMessage.html.twig' %}
        {% endblock %}

        {# Body Block #}
        <div class="container">
            {% block body %}{% endblock %}
        </div>
        {# End Body #}

        {% block javascripts %}
            {% include '::javascripts.html.twig' %}
        {% endblock %}

    </body>
</html>
