.vcenter{
    margin: 30% 0;
}

.login_background {
    background-image: url("/assets/images/background.jpg");
    background-size: cover;
}

.language-selector, .application-icon {
    margin-bottom: $margin-basic;
}

.language-selector {
    float: right !important;
}

.login-form {
    border-radius: 10px;
    color: red;
    text-align: left;
}

.gyver-logo {
    width: 100px;
    height: 100px;
}
.input-field .prefix.active {
    color: $main-primary-color;
}
.input-field label {
    color: $secondary-text;
}
/* label focus color */
.input-field input[type=text]:focus + label {
    color: $main-primary-color;
}
.input-field input[type=password]:focus + label {
    color: $main-primary-color;
}
/* label underline focus color */
.input-field input[type=text]:focus {
    border-bottom: 1px solid $main-primary-color;
}
.input-field input[type=password]:focus {
    border-bottom: 1px solid $main-primary-color;
}
[type="checkbox"]:checked+label:before {
    border-top:2px solid transparent;
    border-left: 2px solid transparent;
    border-right: 2px solid $main-primary-color;
    border-bottom: 2px solid $main-primary-color;
}

