<ul class="collection">
    <li class="collection-item highlight">
        <span class="left-align">Rédaction du Plan d'Assurance Qualité</span>
        <span class="right">Echéance :</span>
        <br/>
        <span class="left-align">Projet Soneria</span>
        <span class="right">23/11/2015</span>
    </li>
    <li class="collection-item highlight">
        <span class="left-align">Vérification de la qualité du projet</span>
        <span class="right">Echéance :</span>
        <br/>
        <span class="left-align">Projet Novetude</span>
        <span class="right">23/11/2015</span>
    </li>
    <li class="collection-item highlight">
        <span class="left-align">Rédaction des Spécifications Fonctionnelles</span>
        <span class="right">Echéance :</span>
        <br/>
        <span class="left-align">Projet Soneria</span>
        <span class="right">25/11/2015</span>
    </li>
    <li class="collection-item highlight">
        <span class="left-align">Mise en production</span>
        <span class="right">Echéance :</span>
        <br/>
        <span class="left-align">Projet Novetude</span>
        <span class="right">03/12/2015</span>
    </li>
</ul>
