{% extends 'base.html.twig' %}

{% block body %}
    <div>
        coucou les loulous !
    </div>
    <div class="pink">
        <p class="white-smoke">
            test 1
        </p>
    </div>
    <div>
        <p class="red">
            test 2
        </p>
    </div>
    <div class="again">
        <p class="update">
            test 3
        </p>
    </div>
    
    <div>
        Test Update Insight with ssh key
    </div>
{% endblock %}
