<ul class="pagination center">
    {% if pagination.page>1 %}
        <li class="waves-effect">
            <a href="{{ path(pagination.route, pagination.route_params|merge({'page': pagination.page-1})) }}">
                <i class="material-icons">chevron_left</i>
            </a>
        </li>
    {% else %}
        <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
    {% endif %}

    {% for p in range(max(pagination.page-4, 1), min(pagination.page+4, pagination.pages_count)) %}
        <li class="waves-effect {% if p == pagination.page %}active amber accent-4{% endif %}">
            <a href="{{ path(pagination.route, pagination.route_params|merge({'page': p})) }}">{{ p }}</a></li>
    {% endfor %}
    {% if pagination.page<pagination.pages_count %}
        <li class="waves-effect">
            <a href="{{ path(pagination.route, pagination.route_params|merge({'page': pagination.page+1})) }}">
                <i class="material-icons">chevron_right</i>
            </a>
        </li>
    {% else %}
        <li class="disabled"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
    {% endif %}
</ul>
