{% extends 'base.html.twig' %}

{% block body %}

    <div class="row base-bg">
        <div class="large-3 columns"></div>
        <div class="large-6 columns">
            <a href="{{ path('test_email') }}" class="button info expand round">Send a Test Email</a>
        </div>
        <div class="large-3 columns"></div>
    </div>

    <div class="row base-bg">
        <div class="large-4 columns">
            <a role="button" href="{{ path('test_flash_message', {'type' : 'success'}) }}" class="button success expand round">Test Success Messages</a>
        </div>
        <div class="large-4 columns">
            <a role="button" href="{{ path('test_flash_message', {'type' : 'notice'}) }}" class="button secondary expand round">Test Info Messages</a>
        </div>
        <div class="large-4 columns">
            <a role="button" href="{{ path('test_flash_message', {'type' : 'error'}) }}" class="button alert expand round">Test Error Messages</a>
        </div>
    </div>

{% endblock %}
