{% extends 'base.html.twig' %}

{% block body %}

    <div class="row">
        <div class="large-12 columns">
           <table>
               <thead>
                   <tr>
                       <td>
                           <p>name:</p>
                       </td>
                   </tr>
               </thead>
           </table>
        </div>
    </div>

{% endblock %}
