# ==============================================================================
#                      CAPIFONY DEPLOYMENT CONFIGURATION
# ==============================================================================

# ------------------------------------------------------------------------------
# 1. Server Config
# ------------------------------------------------------------------------------
set :application, "Your application name"
set :domain,      "Url of your remote server"
set :user,        "User on your remote server"
set :deploy_to,   "Path where your application is clonned"
set :app_path,    "app"
role :web,        domain
role :app,        domain, :primary => true

# ------------------------------------------------------------------------------
# 2. Git Config
# ------------------------------------------------------------------------------
set :repository,        "Git address of your project"
set :scm,               :git
set :deploy_via,        :copy
set :keep_releases,     5

# ------------------------------------------------------------------------------
# 3. Symfony Config
# ------------------------------------------------------------------------------
set :shared_files,      ["app/config/parameters.yml"]
set :writable_dirs,     ["app/cache", "app/logs"]
set :model_manager,     "doctrine"

set :use_composer,      true
set :update_vendors,    false
set :use_sudo,          false

# ------------------------------------------------------------------------------
# 3. Other Config
# ------------------------------------------------------------------------------
# Resolve error message sudo : no tty present and no askpass program specified
default_run_options[:pty] = true

# Be more verbose by uncommenting the following line
logger.level = Logger::MAX_LEVEL
