{% extends 'layout_connected.html.twig' %}

{% block title %}Tableau de bord{% endblock%}
{% block underNavTitle %}Tableau de bord<span class="right">Bonjour, {{ app.user.firstName }} {{ app.user.lastName }}</span>{% endblock %}
{% block underNavText %}Bienvenue sur votre tableau de bord.{% endblock %}

{% block body %}

    <div>
        Page utilisateur de l'appli, voir les user des orga etc ...
    </div>

{% endblock %}
