{% extends 'base.html.twig' %}

{% block title %}Log In{% endblock%}

{% block body %}

    <div class="row">
        <div class="large-12 columns">
            <fieldset>
                <legend>Log In with your user account :</legend>

                {% if error %}
                    <div class="form-error-global">
                        <small class="error text-center">{{ error.messageKey|trans(error.messageData, 'security')|capitalize }}</small>
                    </div>
                {% endif %}

                <form action="{{ path("fos_user_security_check") }}" method="post">
                    <div class="top-margin">
                        <label for="username">Username<span class="text-danger">*</span></label>
                        <input type="text" class="form-control" id="username" name="_username" value="{{ last_username }}" required="required">
                    </div>
                    <div class="top-margin">
                        <label for="password">Password <span class="text-danger">*</span></label>
                        <input type="password" class="form-control" id="password" name="_password" required="required">
                    </div>

                    <hr>

                    <button class="btn btn-action" type="submit" id="_submit" name="_submit">Sign in</button>
                </form>
            </fieldset>
        </div>
    </div>

{% endblock %}



