{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="large-12 columns">
            <fieldset>
                <legend>Log In with your user account :</legend>

                {% if error %}
                    <div class="form-error-global">
                        <small class="error text-center">{{ error.messageKey|trans(error.messageData, 'security')|capitalize }}</small>
                    </div>
                {% endif %}

                <form action="{{ path('login_check') }}" method="post">
                    <label for="username">Username:</label>
                    <input type="text" id="username" name="_username" value="{{ last_username }}" />

                    <label for="password">Password:</label>
                    <input type="password" id="password" name="_password" />

                    {#
                        If you want to control the URL the user
                        is redirected to on success (more details below)
                        <input type="hidden" name="_target_path" value="/account" />
                    #}

                    <button type="submit">Login</button>
                </form>
            </fieldset>
        </div>
    </div>
{% endblock %}
