{% extends '::base.html.twig' %}
{% block title %}404{% endblock%}

{% block body %}
    <div class="row">
        <div class="large-3 columns"></div>
        <div class="large-6 columns">
            <h1>Gyver Project</h1>
            <p>Error 404</p>
        </div>
        <div class="large-3 columns"></div>
    </div>
{% endblock %}
