{% extends '::layout_disconnected.html.twig' %}

{% block title %}Reset password in progress{% endblock %}

{% block body %}

    <div class="container">
        <div class="row center">
            <div class="col offset-l3 l6 s12">
                <div class="card white vcenter">
                    <div class="card-content z-depth-2 login-form">
                        <div class="row">
                            <div class="col s12 application-icon">
                                <img src="{{ asset('assets/images/logoLogin.png') }}" alt="" class="gyver-logo responsive-img valign">
                            </div>

                            <div class="col s12 red darken-1" style="margin-bottom: 20px;">
                                <i class="material-icons left">report_problem</i>
                                <p>Erreur, Vous avez déjà une demande de réinitialisation de mot de passe en cours</p>
                            </div>

                            <div class="col s12">
                                <a class="btn waves-effect waves-light  cyan darken-2" href="{{ path('login') }}">Retour</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
