<!DOCTYPE html>
<html>
<head>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css" rel="stylesheet" />
</head>
<body style="margin:0;background-color: #202C3A;">
<div style="margin:0;padding:0">
    <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
        <tbody>
        <tr>
            <td style="padding:16px 16px 36px;background-color:rgb(32,44,58)">
                <table style="margin:0 auto" align="center" border="0" cellpadding="0" cellspacing="0" width="700">
                    <tbody>
                    <tr>
                        <td style="padding:0 19px 9px 0" align="right" valign="top">
                            <div style="height: 50px;">
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <table style="margin:0 auto" align="center" border="0" cellpadding="0" cellspacing="0" width="700">
                    <tbody>
                    <tr>
                        <td style="background-color:rgb(255,255,255)" bgcolor="#ffffff" width="700">
                            <table style="margin:0 auto" align="center" border="0" cellpadding="0" cellspacing="0" width="700">
                                <tbody>
                                <tr>
                                    <td colspan="3" width="700"></td>
                                </tr>
                                <tr>
                                    <td bgcolor="#dadada" width="1"></td>
                                    <td bgcolor="#ffffff" width="698">
                                        <table align="center" border="0" cellpadding="0" cellspacing="0" width="698">
                                            <tbody>
                                            <tr>
                                                <td rowspan="2" width="29"></td>
                                                <td valign="top">
                                                    <table width="698" border="0" cellpadding="22" cellspacing="0">
                                                        <tbody>
                                                        <tr>
                                                            <td width="60%" bgcolor="#000000">
                                                                <div style="margin:0;font-family:Lucida Grande,Lucida Sans,Lucida Sans Unicode,Arial,Helvetica,Verdana,sans-serif;color:rgb(38,146,179);font-size:35px;line-height:1.5em">
                                                                    {{ application_name|capitalize }} Project
                                                                </div>
                                                            </td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                                <td rowspan="2" width="28"></td>
                                            </tr>
                                            <tr>
                                                <td valign="top" width="586">
                                                    <table width="586" border="0" align="center" cellpadding="0" cellspacing="0">
                                                        <tbody>
                                                        <tr>
                                                            <td style="padding:12px 0 14px" align="left" valign="top">
                                                                <br>
                                                                <div style="margin:0;font-family:Lucida Grande,Lucida Sans,Lucida Sans Unicode,Arial,Helvetica,Verdana,sans-serif;color:rgb(102,102,102);font-size:14px;line-height:1.45em">
                                                                    {# Mail body #}
                                                                    {% block body %}{% endblock %}
                                                                    {# End mail body #}
                                                                </div>
                                                            </td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                    <td bgcolor="#dadada" width="1"></td>
                                </tr>
                                <tr>
                                    <td colspan="3" valign="top" width="700">&nbsp;</td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <table style="margin:0 auto" align="center" border="0" cellpadding="0" cellspacing="0" width="700">
                    <tbody>
                    <tr>
                        <td style="padding:15px 55px 10px 20px">
                            <div style="font-family:Geneva,Verdana,Arial,Helvetica,sans-serif;font-size:9px;line-height:1.34em;color:rgb(153,153,153)">
                                <table width="120" border="0" align="right">
                                    <tbody>
                                    <tr>
                                        <td>
                                            <a href="#" target="_blank">
                                                <img alt="Facebook icon" src="http://s1-library.zurb.com/assets/facebook-icon-buildingblocks-4d3b297e5753d0db788db2e59b2c4965.svg">
                                            </a>
                                        </td>
                                        <td>
                                            <a href="#">
                                                <img alt="Twitter icon" src="http://s1-library.zurb.com/assets/twitter-icon-buildingblocks-8fc90801868e98bee9e7d0812e2523d9.svg">
                                            </a>
                                        </td>
                                        <td>
                                            <a href="#">
                                                <img alt="Googleplus icon" src="http://s1-library.zurb.com/assets/googleplus-icon-buildingblocks-4fadc8a3e706c620251f0b3f44bc9f03.svg">
                                            </a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                                <a style="font-size:17px;line-height:1.34em;color:rgb(153,153,153);text-decoration:none"> GyverProject - 35 rue de turbigo, PARIS FRANCE, CA 75000 </a>
                                <br>
                                <br>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
