{% block subject %}
    [{{ application_name|capitalize }} Project] | Demande de réinitialisation de mot de passe
{% endblock %}

{% block body_html %}
    {# see embed doc in http://twig.sensiolabs.org/doc/tags/embed.html #}
    {% embed "::Email/email_layout.html.twig" %}
        {% block body %}
            {% autoescape false %}
                <p>
                    Bonjour {{ user.username }} !
                    <br>
                    <br>
                    Vous avez effectuer une demande de réinitialisation de mot de passe sur notre site.
                    <br>
                    <br>
                    Cliquer <a href="{{ confirmationUrl }}">ici</a> pour choisir un nouveau mot de passe.
                    <br>
                    <br>
                    Cordialement,
                    L'équipe {{ application_name|capitalize }} Project.
                </p>
            {% endautoescape %}
        {% endblock %}
    {% endembed %}
{% endblock %}
