/* Base Color */
$green-color: #00C552;
$red-color: #D02121;
$pink-color: #FF009C;
$white-smoke: #DCDCDC;

/* Base Margin, Padding*/
$margin-basic: 10px;
$padding-basic: 5px;

/* Font */
$font-size-title: 35px;
$font-size-p: 15px;
