/* I use this file to make some tests */

.test_sass {
  border: 2px solid $red-color;
  margin-bottom: $margin-basic;

  div {
    text-align: center;
    padding: $padding-basic * 2;

    p {
      color: black;
    }

  }

}

.icon-bar .item image {
    filter: invert(0);
}
