<div class="col s12 m6">
    <div class="card">
        <div class="card cyan darken-2 white-text">
            <div class="card-content">
                <h4 class="valign center-align center">
                    <i class="material-icons medium">event_note</i>
                    <br/>
                    Réunions
                </h4>
            </div>
        </div>
        <div class="card-content">
            <ul class="collection">
                <li class="collection-item highlight">
                    <span class="left-align">19/11/2015</span>
                    <span class="right">09:30 - 09:45</span>
                    <br/>
                    <span class="left-align">Daily Scrum</span>
                    <span class="right">IT2M - Consultants</span>
                </li>
                <li class="collection-item">
                    <span class="left-align">23/11/2015</span>
                    <span class="right">15:00 - 16:30</span>
                    <br/>
                    <span class="left-align">Réunion client</span>
                    <span class="right">IT2M - Consultants</span>
                </li>
                <li class="collection-item">
                    <span class="left-align">25/11/2015</span>
                    <span class="right">10:00 - 11:00</span>
                    <br/>
                    <span class="left-align">Point d'avancement</span>
                    <span class="right">Réunion téléphonique</span>
                </li>
                <li class="collection-item">
                    <span class="left-align">19/11/2015</span>
                    <span class="right">09:30 - 09:45</span>
                    <br/>
                    <span class="left-align">Daily Scrum</span>
                    <span class="right">IT2M - Consultants</span>
                </li>
            </ul>
        </div>
    </div>
</div>