{% extends 'base.html.twig' %}

{% block title %}BackEnd Home{% endblock%}
{% block underNavTitle %}Welcome{% endblock %}
{% block underNavText %}Account Infos{% endblock %}

{% block body %}

    <div class="row">
        <div class="offset-s2 col s8">
            <h4>Bonjour {{ app.user.username }},</h4>
        </div>
    </div>

    <div class="row">
        <div class="offset-s2 col s8">
            <table class="striped z-depth-3">
                <thead>
                <tr>
                    <th data-field="id">Nom :</th>
                    <th data-field="name">Email :</th>
                </tr>
                </thead>

                <tbody>
                <tr>
                    <td>{{ app.user.username }}</td>
                    <td>{{ app.user.email }}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    {% if is_granted('ROLE_ADMIN') %}
        <div class="row">
            <div class="offset-s2 col s8">
                <a class="waves-effect waves-light btn amber accent-4" href="{{ path('user_list') }}">Gérer les utilisateurs</a>
            </div>
        </div>
    {% endif %}

{% endblock %}
