{% extends 'base.html.twig' %}

{% block title %}Tableau de bord{% endblock%}
{% block underNavTitle %}Tableau de bord<span class="right">Bonjour, {{ app.user.firstName }} {{ app.user.lastName }}</span>{% endblock %}
{% block underNavText %}Bienvenue sur votre tableau de bord.{% endblock %}

{% block body %}

    <div class="container">
        <div class="row">
            <div class="col s12 m6">
                <div class="card">
                    <div class="card cyan darken-2 white-text">
                        <div class="card-content">
                            <h4 class="valign center-align center">
                                <i class="material-icons medium">event_note</i>
                                <br/>
                                Réunions
                            </h4>
                        </div>
                    </div>
                    <div class="card-content">
                        <ul class="collection">
                            <li class="collection-item highlight">
                                <span class="left-align">19/11/2015</span>
                                <span class="right">09:30 - 09:45</span>
                                <br/>
                                <span class="left-align">Daily Scrum</span>
                                <span class="right">IT2M - Consultants</span>
                            </li>
                            <li class="collection-item">
                                <span class="left-align">23/11/2015</span>
                                <span class="right">15:00 - 16:30</span>
                                <br/>
                                <span class="left-align">Réunion client</span>
                                <span class="right">IT2M - Consultants</span>
                            </li>
                            <li class="collection-item">
                                <span class="left-align">25/11/2015</span>
                                <span class="right">10:00 - 11:00</span>
                                <br/>
                                <span class="left-align">Point d'avancement</span>
                                <span class="right">Réunion téléphonique</span>
                            </li>
                            <li class="collection-item">
                                <span class="left-align">19/11/2015</span>
                                <span class="right">09:30 - 09:45</span>
                                <br/>
                                <span class="left-align">Daily Scrum</span>
                                <span class="right">IT2M - Consultants</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col s12 m6">
                <div class="card">
                    <div class="card cyan darken-2 white-text">
                        <div class="card-content">
                            <h4 class="valign center-align center">
                                <i class="material-icons medium">style</i>
                                <br/>
                                Tâches
                            </h4>
                        </div>
                    </div>
                    <div class="card-content">
                        <ul class="collection">
                            <li class="collection-item highlight">
                                <span class="left-align">Rédaction du Plan d'Assurance Qualité</span>
                                <span class="right">Echéance :</span>
                                <br/>
                                <span class="left-align">Projet Soneria</span>
                                <span class="right">23/11/2015</span>
                            </li>
                            <li class="collection-item highlight">
                                <span class="left-align">Vérification de la qualité du projet</span>
                                <span class="right">Echéance :</span>
                                <br/>
                                <span class="left-align">Projet Novetude</span>
                                <span class="right">23/11/2015</span>
                            </li>
                            <li class="collection-item highlight">
                                <span class="left-align">Rédaction des Spécifications Fonctionnelles</span>
                                <span class="right">Echéance :</span>
                                <br/>
                                <span class="left-align">Projet Soneria</span>
                                <span class="right">25/11/2015</span>
                            </li>
                            <li class="collection-item highlight">
                                <span class="left-align">Mise en production</span>
                                <span class="right">Echéance :</span>
                                <br/>
                                <span class="left-align">Projet Novetude</span>
                                <span class="right">03/12/2015</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col s12 m6">
                <div class="card">
                    <div class="card cyan darken-2 white-text">
                        <div class="card-content">
                            <h4 class="valign center-align center">
                                <i class="material-icons medium">date_range</i>
                                <br/>
                                Calendrier
                            </h4>
                        </div>
                    </div>
                    <div class="card-content">
                        <ul class="collection">
                            <li class="collection-item highlight">
                                <span class="left-align">19/11/2015</span>
                                <span class="right">09:30 - 09:45</span>
                                <br/>
                                <span class="left-align">Daily Scrum</span>
                                <span class="right">IT2M - Consultants</span>
                            </li>
                            <li class="collection-item">
                                <span class="left-align">23/11/2015</span>
                                <span class="right">15:00 - 16:30</span>
                                <br/>
                                <span class="left-align">Réunion client</span>
                                <span class="right">IT2M - Consultants</span>
                            </li>
                            <li class="collection-item">
                                <span class="left-align">25/11/2015</span>
                                <span class="right">10:00 - 11:00</span>
                                <br/>
                                <span class="left-align">Point d'avancement</span>
                                <span class="right">Réunion téléphonique</span>
                            </li>
                            <li class="collection-item">
                                <span class="left-align">19/11/2015</span>
                                <span class="right">09:30 - 09:45</span>
                                <br/>
                                <span class="left-align">Daily Scrum</span>
                                <span class="right">IT2M - Consultants</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col s12 m6">
                <div class="card">
                    <div class="card cyan darken-2 white-text">
                        <div class="card-content">
                            <h4 class="valign center-align center">
                                <i class="material-icons medium">description</i>
                                <br/>
                                Livrables
                            </h4>
                        </div>
                    </div>
                    <div class="card-content">
                        <ul class="collection">
                            <li class="collection-item highlight">
                                <span class="left-align">Rédaction du Plan d'Assurance Qualité</span>
                                <span class="right">Echéance :</span>
                                <br/>
                                <span class="left-align">Projet Soneria</span>
                                <span class="right">23/11/2015</span>
                            </li>
                            <li class="collection-item highlight">
                                <span class="left-align">Vérification de la qualité du projet</span>
                                <span class="right">Echéance :</span>
                                <br/>
                                <span class="left-align">Projet Novetude</span>
                                <span class="right">23/11/2015</span>
                            </li>
                            <li class="collection-item highlight">
                                <span class="left-align">Rédaction des Spécifications Fonctionnelles</span>
                                <span class="right">Echéance :</span>
                                <br/>
                                <span class="left-align">Projet Soneria</span>
                                <span class="right">25/11/2015</span>
                            </li>
                            <li class="collection-item highlight">
                                <span class="left-align">Mise en production</span>
                                <span class="right">Echéance :</span>
                                <br/>
                                <span class="left-align">Projet Novetude</span>
                                <span class="right">03/12/2015</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col s12 m6">
                <div class="card">
                    <div class="card cyan darken-2 white-text">
                        <div class="card-content">
                            <h4 class="valign center-align center">
                                <i class="material-icons medium">trending_up</i>
                                <br/>
                                Budgets
                            </h4>
                        </div>
                    </div>
                    <div class="card-content">
                        <ul class="collection">
                            <li class="collection-item highlight">
                                <span class="left-align">19/11/2015</span>
                                <span class="right">09:30 - 09:45</span>
                                <br/>
                                <span class="left-align">Daily Scrum</span>
                                <span class="right">IT2M - Consultants</span>
                            </li>
                            <li class="collection-item">
                                <span class="left-align">23/11/2015</span>
                                <span class="right">15:00 - 16:30</span>
                                <br/>
                                <span class="left-align">Réunion client</span>
                                <span class="right">IT2M - Consultants</span>
                            </li>
                            <li class="collection-item">
                                <span class="left-align">25/11/2015</span>
                                <span class="right">10:00 - 11:00</span>
                                <br/>
                                <span class="left-align">Point d'avancement</span>
                                <span class="right">Réunion téléphonique</span>
                            </li>
                            <li class="collection-item">
                                <span class="left-align">19/11/2015</span>
                                <span class="right">09:30 - 09:45</span>
                                <br/>
                                <span class="left-align">Daily Scrum</span>
                                <span class="right">IT2M - Consultants</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col s12 m6">
                <div class="card">
                    <div class="card cyan darken-2 white-text">
                        <div class="card-content">
                            <h4 class="valign center-align center">
                                <i class="material-icons medium">report</i>
                                <br/>
                                Risques
                            </h4>
                        </div>
                    </div>
                    <div class="card-content">
                        <ul class="collection">
                            <li class="collection-item highlight">
                                <span class="left-align">Rédaction du Plan d'Assurance Qualité</span>
                                <span class="right">Echéance :</span>
                                <br/>
                                <span class="left-align">Projet Soneria</span>
                                <span class="right">23/11/2015</span>
                            </li>
                            <li class="collection-item highlight">
                                <span class="left-align">Vérification de la qualité du projet</span>
                                <span class="right">Echéance :</span>
                                <br/>
                                <span class="left-align">Projet Novetude</span>
                                <span class="right">23/11/2015</span>
                            </li>
                            <li class="collection-item highlight">
                                <span class="left-align">Rédaction des Spécifications Fonctionnelles</span>
                                <span class="right">Echéance :</span>
                                <br/>
                                <span class="left-align">Projet Soneria</span>
                                <span class="right">25/11/2015</span>
                            </li>
                            <li class="collection-item highlight">
                                <span class="left-align">Mise en production</span>
                                <span class="right">Echéance :</span>
                                <br/>
                                <span class="left-align">Projet Novetude</span>
                                <span class="right">03/12/2015</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
